<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(112, 33, 126, 0.1);
        width: 100%;
        max-width: 400px;
        text-align: center;
      }
      h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
      }
      input[type="password"] {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.3s ease;
      }
      input[type="password"]:focus {
        border-color: #7179C6;
        outline: none;
      }
      input[type="submit"] {
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #7179C6;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      input[type="submit"]:hover {
        background-color: #5c67b5;
      }
    </style>
    <script>
      var status = '<%- JSON.stringify(status) %>';
      console.log(status);
      if (JSON.parse(status) === "Verified") {
        if (confirm("Password Changed! Do you want to login?")) {
          window.location.href = '<%= BASE_URL_FRONTEND %>/login';
        }
      }
    
      function validateForm(event) {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;
    
        // Regex pattern to match password requirements
        const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
    
        if (password === '' || confirmPassword === '') {
          event.preventDefault();
          alert('Both fields must be filled out');
          return false;
        }
    
        if (!passwordRegex.test(password)) {
          event.preventDefault();
          alert('Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one digit');
          return false;
        }
    
        if (password !== confirmPassword) {
          event.preventDefault();
          alert('Passwords do not match');
          return false;
        }
      }
    </script>    
  </head>
  <body>
    <div class="container">
      <h1><%= email %></h1>
      <form action="" method="post" onsubmit="validateForm(event)">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="New Password"
          required
        /><br />
        <input
          type="password"
          name="confirm-password"
          id="confirm-password"
          placeholder="Confirm Password"
          required
        /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
